<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="net.sourceforge.eclipseccase.ClearCaseProvider"
            id="net.sourceforge.eclipseccase.ClearCaseProvider">
      </repository>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
   <initializer
			class="net.sourceforge.eclipseccase.ClearCasePreferences">
	</initializer>
   </extension>

</plugin>
